@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #003e29;
	background-attachment: fixed;
	color: #0f0800;
}

h4 {
	font-size: 1rem;
	color: #f0f8ff;
}

a {
	text-decoration: none;
	color: #f0f8ff;
}

img {
	max-width: 100%;
	max-height: 100%;
}
